@import '~material-design-lite/src/material-design-lite';
@import '~bourbon/app/assets/stylesheets/bourbon';

@import './partials/colors';
@import './partials/fonts';
@import './partials/links';

@import './modules/app';
@import './modules/header';
@import './modules/body';
@import './modules/footer';
@import './modules/widgets';

@import './components/button';
@import './components/form';
@import './components/input';
@import './components/modal';
@import './components/panel';

@import './containers/AuthWidget';
@import './containers/Homepage';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: normal;
}

#content {
  height: 100%;
}
