$red: rgb(152, 31, 30);
$orange: rgb(224, 118, 47);
$yellow: rgb(224, 186, 113);
$green: rgb(147, 186, 108);
$teal: rgb(137, 181, 181);
$blue: rgb(103, 146, 197);

$chalk: rgb(250, 250, 250);
$graphite: rgb(69, 67, 67);
